@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root,
:root.light {
  /* Light theme */
  --fg: #353535;
  --fg-accent: #5A537B;
  --bg: #F4F4F4;
  --bg-accent: #FFFFFF;

  font-family: 'Inter', sans-serif;
}

:root.dark {
  /* Dark theme */
  --fg: #FFFFFF;
  --fg-accent: #CCC1FF;
  --bg: #1F2937;
  --bg-accent: #273549;
}

/* CSS Reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    background-color: var(--bg);
}

input,
button,
textarea,
select {
  font: inherit;
  text-align: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Remove inputs Arrows/Spinners  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Base styling */

.container {
    margin: auto;
    min-height: 729px;
    max-width: 550px;
    box-shadow:
    inset 0 3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Header Section */

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #6943FF;
    min-height: 285px;
    color: #FFFFFF;
}

.title-header {
    font-size: 28px;
}

button {
    padding: 9px 27px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;   
}

input {
    min-height: 83px;
    max-width: 117px;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 58px;
    font-weight: 800;
    color: inherit;
}

/* Main section */

.main-section {
    background-color: var(--bg);
    min-height: 444px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-section div {
    padding: 31px 77px;
    background-color: var(--bg-accent);
}

.main-section div h3 {
    margin-bottom: 9px;
    color: var(--fg-accent);
    font-size: 20px;
    font-weight: 600;
}

.main-section div p {
    color: var(--fg);
    font-weight: 400px;
    font-size: 14px;
}

/* Dark mode toggle */

.btn-theme {
    position: absolute;
    font-size: 1.5rem;
    background: var(--bg);
    color: var(--fg-accent);
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    --fa-display: grid;
    place-content: center center;
    top: 1%;
    left: 1%;
    margin: auto;
  }
  
  .rotate {
    -moz-transition: transform .5s linear;
    -webkit-transition: transform .5s linear;
    transition: transform .5s linear;
  }
  
  .rotate.triggered {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }